<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico">

    <title>Project - Abattement</title>
  
	<!-- Vendors Style-->	  
	<!-- Style-->  
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
	<!-- <link rel="stylesheet" href="css/color_theme.css"> -->
	<!-- <link rel="stylesheet" href="css/skin_color.css"> -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head> 
<body class="hold-transition light-skin sidebar-mini theme-success fixed" ng-controller="addController">
	
<div class="wrapper">
	<div id="loader"></div>

  <header class="main-header">
	<div class="d-flex align-items-center logo-box justify-content-start">	
		<!-- Logo -->
		<a href="index.html" class="logo">
		  <!-- logo-->
			<div class="logo-lg">
				<span class="light-logo"><img src="/images/logo.png" alt="logo"></span>
				<span class="dark-logo"><img src="/images/logo.png" alt="logo"></span>
			</div>
		</a>	
	</div>  
    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
	  <div class="app-menu">
		<ul class="header-megamenu nav">
			<li class="btn-group nav-item">
				<a href="#" class="waves-effect waves-light nav-link push-btn btn-primary-light" data-toggle="push-menu" role="button">
					<i data-feather="align-left"></i>
			    </a>
			</li>

		</ul> 
	  </div>
		
      <div class="navbar-custom-menu r-side">
        <ul class="nav navbar-nav">	



	      <!-- User Account-->
          <li class="dropdown user user-menu">
            <a href="#" class="waves-effect waves-light dropdown-toggle w-auto l-h-12 bg-transparent py-0 no-shadow" data-bs-toggle="dropdown" title="User">
				<div class="d-flex pt-5">
					<div class="text-end me-10">
						<p class="pt-5 fs-14 mb-0 fw-700 text-primary">Johen Doe</p>
						<small class="fs-10 mb-0 text-uppercase text-mute">Admin</small>
					</div>
					<img src="/images/avatar/avatar-1.png" class="avatar rounded-10 bg-primary-light h-40 w-40" alt="" />
				</div>
            </a>
          </li>	
			
        </ul>
      </div>
    </nav>
  </header>
  
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar-->
    <section class="sidebar position-relative">
		<div class="help-bt">
			
		</div>
	  	<div class="multinav">
		  <div class="multinav-scroll" style="height: 100%;">	
			  <!-- sidebar menu-->
			  <ul class="sidebar-menu" data-widget="tree">			
				<li class="">
				  <a th:href="@{/}">
					<i data-feather="monitor"></i>
					<span>Dashboard</span>					
				  </a>
				</li>
				<li class="">
				  <a th:href="@{/agences}">
					<i data-feather="calendar"></i>
					<span>Agences</span>
				  </a>
				</li>
				<li class="">
					<a th:href="@{/clients}">
					  <i data-feather="package"></i>
					  <span>Clients</span>
					</a>
				  </li>			
				<li class="">
				  <a th:href="@{/utilisateurs}">
					<i data-feather="users"></i>
					<span>Utilisateur</span>					
				  </a>				 
				</li>	
                <li class="treeview active">
                    <a href="#">
                      <i data-feather="activity"></i>
                      <span>Abattement</span>
                      <span class="pull-right-container">
                        <i class="fa fa-angle-right pull-right"></i>
                      </span>
                    </a>
                    <ul class="treeview-menu">
                      <li><a th:href="@{/abattement}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Nouveau</a></li>
                      <li><a th:href="@{/abattements}"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Liste</a></li>
                    </ul>
                </li>
				<li class="">
					<a th:href="@{/parametres}">
					  <i data-feather="inbox"></i>
					  <span>Paramètres</span>
					</a>					
				</li>
        <li>
          <a th:href="@{/garanties}">
            <i data-feather="inbox"></i>
            <span>Garanties</span>
          </a>					
      </li>				 	
               
			  </ul>
			  
			  <div class="sidebar-widgets">
				  <div class="mx-25 mb-30 pb-20 side-bx bg-primary-light rounded20">
					<div class="text-center">
						<img src="/images/svg-icon/color-svg/custom-17.svg" class="sideimg p-5" alt="">
						<h4 class="title-bx text-primary">Make an Appointments</h4>
						<a href="#" class="py-10 fs-14 mb-0 text-primary">
							Best Helth Care here <i class="mdi mdi-arrow-right"></i>
						</a>
					</div>
				  </div>
				<div class="copyright text-center m-25">
					<p><strong class="d-block">Rhythm Admin Dashboard</strong> © <script>document.write(new Date().getFullYear())</script> All Rights Reserved</p>
				</div>
			  </div>
		  </div>
		</div>
    </section>
  </aside>
  
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Content Header (Page header) -->	  
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="me-auto">
					<h4 class="page-title">Startup</h4>
					<div class="d-inline-block align-items-center">
						<nav>
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a href="#"><i class="mdi mdi-home-outline"></i></a></li>
								<li class="breadcrumb-item" aria-current="page">Abattement</li>
								<li class="breadcrumb-item active" aria-current="page">Nouveau Abattement</li>
							</ol>
						</nav>
					</div>
				</div>
				
			</div>
		</div>

		<!-- Main content -->
		<section class="content">
            <div class="container py-5">            
                <div class="row g-0">
                    
                    <div class="col-lg-12 wow slideInUp" data-wow-delay="0.3s">
                        <div class="bg-white rounded shadow position-relative p-10" style="z-index: 1;">
                            <div class="border-bottom py-4 px-5 mb-4">
                                <h4 class="text-primary mb-1">Abattement</h4>
                                <small class="text-uppercase">Veuillez remplir le formulaire</small>
                            </div>
                            <div class="p-10">
                                <form>
                                    <div class="row g-3 mb-2">
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <select class="form-control select" id="type" name="type" ng-model="abattementMasterObjectDTO.client.id" > 
                                                    <option value="">Choisissez un client</option>
                                                    <option data-ng-repeat="client in listeClients" id="client" value="{{ client.id }}">{{ client.numeroOp }}</option>
                                                </select>
                                                <label for="client">Client (N° OP)</label>
            
                                            </div>
                                        </div>
                                  
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <input ng-model="abattementMasterObjectDTO.date" name="date" readonly type="date" class="form-control  "  id="date" placeholder="Date" required  autofocus>
                                                <label for="date">Date</label>
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <input ng-model="abattementMasterObjectDTO.journee" name="journee" type="number" class="form-control  "  id="journee" placeholder="Journée" required  autofocus>
                                                <label for="journee">Journée</label>
                                            </div>
                                        </div>
                                       
                                    </div>
                                    <div class="row py-2 g-3 mb-2">
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <input ng-model="abattementMasterObjectDTO.vente" name="vente" type="number" class="form-control" id="vente" placeholder="Vente" required autofocus oninput="calculateSoldeAVerser()">
                                                <label for="vente">Vente</label>
                                            </div>
                                        </div>
                                    
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <input ng-model="abattementMasterObjectDTO.paiement" name="paiement" type="number" class="form-control" id="paiement" placeholder="Paiement" required autofocus oninput="calculateSoldeAVerser()">
                                                <label for="paiement">Paiement</label>
                                            </div>
                                        </div>
                                        <div class="col-md">
                                            <div class="form-floating">
                                                <input ng-model="abattementMasterObjectDTO.solde_a_verser"  name="solde_a_verser" type="text" class="form-control" id="solde_a_verser" placeholder="Solde a verser" readonly>
                                                <label for="solde_a_verser">Solde a verser</label>
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="row py-2 g-4 mb-2">
                                        <div class="col-md" data-ng-repeat="parametre in listeParametres">
                                            <div class="form">
                                                <input data-ng-model="abattementMasterObjectDTO.parametres[parametre.id]"  class="form-check-input me-2" type="checkbox" id="{{parametre.slug}}" aria-label="..." onchange="toggleHeures()">
                                                <label for="{{parametre.slug}}">{{parametre.titre}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row py-2" id="heuresRow" style="display:none;">
                                        <div class="col-md">
                                            <div class="form-floating col-md-3">
                                                <input ng-model="abattementMasterObjectDTO.heure" name="heure" type="time" class="form-control"  id="heure" placeholder="Solde a verser" required  autofocus>
                                                <label for="heure">Heures</label>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    <div class="modal-footer col-lg-12">
                                        <button type="button" class="btn btn-success" ng-click="valider()">Enregistrer</button>
                                        <button type="button" class="btn btn-primary" >Annuler</button>
                                        <a th:href="@{/abattements}" class="float-end">Voir la liste</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
		</section>
		<!-- /.content -->
	  </div>
  </div>

</div>


   <footer class="main-footer">
    <div class="pull-right d-none d-sm-inline-block">
        <ul class="nav nav-primary nav-dotted nav-dot-separated justify-content-center justify-content-md-end">
		  <li class="nav-item">
			<a class="nav-link" href="javascript:void(0)">FAQ</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Purchase Now</a>
		  </li>
		</ul>
    </div>
	  &copy; <script>document.write(new Date().getFullYear())</script> <a href="https://www.multipurposethemes.com/">Multipurpose Themes</a>. All Rights Reserved.
  </footer>
</div>
<!-- ./wrapper -->

	
	<!-- Vendor JS -->
	<script src="js/vendors.min.js"></script>
    <script src="/js/feather.min.js"></script>	
	<script src="/js/datatables.min.js"></script>
	
	<!-- Rhythm Admin App -->
	<script src="/js/template.js"></script>
	<script src="/js/addController.js"></script>
	<script src="/js/data-table.js"></script>
	<script >
        function toggleHeures() {
            var retardsCheckbox = document.getElementById('retards');
            var heuresRow = document.getElementById('heuresRow');
    
            if (retardsCheckbox.checked) {
                heuresRow.style.display = 'block';
            } else {
                heuresRow.style.display = 'none';
            }
        }
        function calculateSoldeAVerser() {
            var vente = parseFloat(document.getElementById('vente').value) || 0;
            var paiement = parseFloat(document.getElementById('paiement').value) || 0;
            var soldeAVerser = vente - paiement;
            document.getElementById('solde_a_verser').value = soldeAVerser.toFixed(2);
        }
    </script>
	
</body>
</html>
